body {
	background-image: url("../img/Background.png");
}

.fixed-bottom {
	background: black;
}

#form {
	position:fixed;
	margin-left: 100px;
	margin-top: 100px;
	padding: 30px;
	width: 500px;
	background: white;

}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */





